body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://services.meteored.com/img/article/por-que-el-cielo-se-torna-naranja-durante-el-atardecer-1684769231676_1280.jpeg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h1 {
    color: #333;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 24.84%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bot-frame {
    position: absolute;
    top: -25px; 
    left: 0;
    width: 100%;
    height: calc(80% + 10px);
    border: none;
    transform: scale(1.9);
    transform-origin: top left;
}
